/*  your css code here. If applicable */
.grid-container{
	display:flex;
	flex-wrap:wrap;
}
.grid-container > div{
	background-color:lightgray;
	height:150px;
	width:200px;
	border:1px solid black;
	border-radius:5px;
	font-size:40px;
}
